In [ ]:
## Starting with Python

In [1]:
print("Hello World")

Hello World

In [ ]:
## Direct operations

In [18]:
10 * 10

100

In [20]:
10 * 'Ankur'

'AnkurAnkurAnkurAnkurAnkurAnkurAnkurAnkurAnkurAnkur'

In [22]:
54/10

5.4

In [ ]:
# Using type function (very useful in python)

In [6]:
x = 27
type(x)

int

In [11]:
x = 34.2
type(x)

float

In [ ]:
# Note : Anything in single qoute(' ') or double qoute(" ") is referred to as string

In [13]:
x = 'Hi There'
type(x)

str

In [14]:
x = "Hi There"
type(x)

str

In [16]:
x = False # or it can be True
type(x)

bool

In [ ]:
# Using Function

In [13]:
def printStatement(a):
    return a
result = printStatement("Hello")

print(result)

Hello

In [15]:
def square(x):
    return x*x
result=square(5)

print(result)

25

In [16]:
out2 = square(result)
print(out2)

625

In [ ]:
# Using two Inputs

In [2]:
def squareSum(x,y):
    sq1 = x*x
    sq2 = y*y
    return sq1 + sq2

result = squareSum(18,19)
print(result)

685

In [ ]:
# Using built-in input() Function

In [ ]:
# Note : input() function takes only string type and return string type you cannot perform arthematic operation on strings 
# to do that i use int type as input shown below

In [5]:
x = int(input("Enter First Value :"))    ## anything written in input(" ") function in single or double qoute is stored..  
y = int(input("Enter Second Value :"))   ## ..as String also anything before you enter input like enter value: is know as prompt
z = int(input("Enter Third Value :"))

def cuberootSub():
    
    cb1 = x*x*x
    cb2 = y*y*y
    cb3 = z*z*z
    return (cb1+cb2) - cb3

cuberootSub()

Enter First Value :6
Enter Second Value :5
Enter Third Value :4

277

In [ ]:
# Starting with Modules or Packages

In [5]:
import calendar
cal = calendar.month(2020, 4)
print(cal)

     April 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [10]:
import math

x = math.sqrt(81)
print(x)

9.0

In [11]:
y = math.factorial(5)
print(y)

120

In [17]:
z = math.pow(3,10)
print(z)

59049.0

In [21]:
import random # use to fetch random items from list, sequences or numbers

x = random.randint(1,23)
print(x)

20

In [26]:
# For list in sequence we can use choice() method- built in method in random module 

list1 = ["Ankur","Raghav","Piyush","Rahul","Arjit","Manjot","Ajaypal","Rashpal","Krutarth","Kshitij","Anuj"]

choicel1 = random.choice(list1)
print(choicel1)

Ankur

In [33]:
# re-arrangment or shuffling can be done using random module

list1 = ["Ankur","Raghav","Piyush","Rahul","Arjit","Manjot","Ajaypal","Rashpal","Krutarth","Kshitij","Anuj"]
print(list1)

['Ankur', 'Raghav', 'Piyush', 'Rahul', 'Arjit', 'Manjot', 'Ajaypal', 'Rashpal', 'Krutarth', 'Kshitij', 'Anuj']

In [38]:
random.shuffle(list1)

In [39]:
print(list1)

['Ajaypal', 'Kshitij', 'Rahul', 'Rashpal', 'Raghav', 'Manjot', 'Ankur', 'Krutarth', 'Anuj', 'Arjit', 'Piyush']

In [ ]:
# Getting Familiar with Lists (re enclosed in square brackets)

In [47]:
list1 = [25,50,100,200,400,800]
list2 = ['apple', True , 'cat', 44.56, 'elephant', 34 , 'good'] #with various different datatypes

In [48]:
print(list1)
print(list2)

[25, 50, 100, 200, 400, 800]
['apple', True, 'cat', 44.56, 'elephant', 34, 'good']

In [49]:
# fetching item of particular index

print(list1[3])
print(list2[5])

200
34

In [50]:
#replacing values in list at particular index

list2[4] = 'eye'

In [51]:
print(list2)

['apple', True, 'cat', 44.56, 'eye', 34, 'good']

In [60]:
# Tuple are usedif you don't want to tamper aur alter the information throughout the code (are enclosed with parantehesis())

student1 = ('Ankur', 'Sahni', 'Brampton', 'Lambton College', 'abcde@gmail.com', '41x-xxx-xxxx', 'CCBT')
student2 = ('Ajaypal', 'Singh', 'Brampton', 'Lambton College', 'abcdefghi@gmail.com', '40x-xxx-xxxx', 'SCMT')
student3 = ('Anuj', 'Kalsi', 'Peterbrough', 'Fleming College', 'nopcde@gmail.com', '42x-xxx-xxxx', 'Mobile Development')

print(student1)
print(student3)

('Ankur', 'Sahni', 'Brampton', 'Lambton College', 'abcde@gmail.com', '41x-xxx-xxxx', 'CCBT')
('Anuj', 'Kalsi', 'Peterbrough', 'Fleming College', 'nopcde@gmail.com', '42x-xxx-xxxx', 'Mobile Development')

In [55]:
type(student2)

tuple

In [58]:
# Fetching item from tuple

print(student3[6])

Mobile Development

In [59]:
#replacing values in tuple at particular index (practically not possible)

student3[6] = "CCBT"
print(student3)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Conditional Statements 
# if-else

In [61]:
n = int(input("Enter a value between -15 and 15 : "))

if n < 0:
    print('You chose a negative number')
else:
    print('You chose a positive number')

Enter a value between -15 and 15 : 3
You chose a positive number

In [71]:
# With use of function

def largerNumb():
    x = int(input("Enter the First Value : "))
    y = int(input("Enter the Second Value : "))
    
    if x>y:
        return x
        # print(str(x) + "is greater than" + str(y))
    else:
        return y
        # print(str(y) + "is greater than" + str(x))

largerNumb()

Enter the First Value : 15
Enter the Second Value : 14

15

In [72]:
# testing with negatives

largerNumb()

Enter the First Value : -15
Enter the Second Value : -11

-11

In [ ]:
# if-elif

In [76]:
x = int(input("Enter a Number :"))

if x<5:
    print("You Reached level 1")

elif x<10:
    print("You Reached level 2")

elif x<15:
    print("You Reached level 3")
    
elif x<20:
    print("You Reached Highest Level, Congrats!!")

Enter a Number :15
You Reached Highest Level, Congrats!!

In [ ]:
# if-elif-else
# calculation absolute value of number entered

In [86]:
def absolute_val():
    x = int(input("Enter a Number : "))
    
    if x<0:
        return -x
    elif x==0:
        return x
    else:
        return x
absolute_val()

Enter a Number : -8

8

In [ ]:
# Iteration in Python

In [92]:
movie = input("Enter Movie Name  : ")

alphabet = ['a', 'e', 't',]
count=0

for ch in movie:
    if ch in alphabet:
        count = count + 1

print(count)

Enter Movie Name  : The Shutter Island
5

In [ ]:
# For loop

for i in range(12):
    print(i)

In [101]:
# Printing even numbers

for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [104]:
list1 = ["Ankur","Raghav","Piyush","Rahul","Arjit","Manjot","Ajaypal","Rashpal","Krutarth","Kshitij","Anuj"]

for ch in list1:
    print(ch)

len(list1) # len() function is used to determine the length of sequence or list

Ankur
Raghav
Piyush
Rahul
Arjit
Manjot
Ajaypal
Rashpal
Krutarth
Kshitij
Anuj

11

In [11]:
# While Loop

listA = ["Ankur","Raghav","Piyush","Rahul","Arjit","Manjot","Ajaypal","Rashpal","Krutarth","Kshitij","Anuj"]
ch = 0

while ch < len(listA):
    print(listA[ch])
    ch = ch+1

Ankur
Raghav
Piyush
Rahul
Arjit
Manjot
Ajaypal
Rashpal
Krutarth
Kshitij
Anuj

In [22]:
# recursion Examples
#1 factorial

def factorial(n):
    if n==1:
        return 1
    else:
        return n * factorial(n-1)
factorial(5)

120

In [25]:
# 2 Sum of digits of a number 

#n = int(input("Enter a Number : "))
def sum_digits(n):
    if n<10:
        return n
    else:
        x = n // 10
        y = n % 10
        return sum_digits(x)+y

sum_digits(125)

8

In [19]:
#3 Fibonaaci Series

def fib(n):
    if n == 1:
        return 0
    elif n == 2:
        return 1
    else:
        return fib(n-1) + fib(n-2)
fib(14)

233